@model IEnumerable<Product>
<div class="container">

  <div id="placeHolderHere"></div>

  <div class="row">

    <div class="col-sm">

      <table class="table table-info w-auto">
        <caption>Таблица продуктов</caption>

        <tr>
          <th>Имя продукта</th>
          <th>Описание продукта</th>
          <th></th>
          <th></th>
        </tr>
        @foreach (var product in Model)
        {
        <tr>
          <td>@product.Name</td>
          <td>@product.Description</td>
          <td>
            <form method="post" asp-controller="Home" asp-action="DeleteProduct">
              <input type="hidden" value="@product.Id" name="id" />
              <input type="submit" value="Удалить" />
            </form>
          </td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addProduct"
              data-url="@Url.Action("ProductEdit", new {id=product.Id} )">Редактировать</button>
          </td>
        </tr>
        }
      </table>

    </div>
    <div class="col-sm">

      <p>Фильтр по имени изделия</p>
      <div>
        <form asp-controller="Home" asp-action="Index" method="post">
          <input type="text" name="name" />
          <input type="submit" value="Поиск" />
        </form>
      </div>

    </div>

    <div class="text-center">
      <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addProduct"
        data-url="@Url.Action("ProductAdd")">Добавить продукт</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

  </div>

</div>